/* Temas del segundo período*/

.texto{
   
    font-size:50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
    font-family: cursive;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondos.png");
    

}
.titulo{
font-size: 50px;
text-align: center;
color: cornflowerblue;
}
.titulotec{

    font-size: 100px;
    text-align: center;
    color: rgb(63, 90, 240);

}
.titulosoc{

    font-size: 100px;
    text-align: center;
    color: rgb(145, 37, 207);



}
.titbuen{
    font-size: 80px;
    text-align: center;
    color: rgb(51, 207, 37);

}
.tituloinicio{
    font-size: 163px;
    text-align: center;
    color: rgb(237, 100, 130);
    
}

.foto1{
    height: 620px;
    width: 660px;
    background-image: url("foto1.jfif");
    float: initial;
}

.foto2{
    height: 620px;
    width: 670px;
    background-image: url("foto2.jfif");
    
}

.foto3{
    height: 620px;
    width: 800px;
    background-image: url("foto3.jfif");
}
.img1{
    height: 289px;
    width: 571px;
    background-image: url("circuitos-electricos.webp");
    background-repeat: no-repeat;
    float: left;
}

.img2{
    height: 213px;
    width: 221px;
    background-image: url("img2ingles.jfif");
    background-repeat: no-repeat;
    float: revert;



}
.img3{


    height: 200px;
    width: 300px;
    background-image: url("imgeningles.jfif");
    background-repeat: no-repeat;
    float: revert;

}

.img4{
    height: 200px;
    width: 300px;
    background-image: url("imaingles.jfif");
    background-repeat: no-repeat;
    float: revert;





}
.imgmapa{

    height: 750px;
    width: 1300px;
    background-image: url("imagen2mapa.jpg");
    background-repeat: no-repeat;
    float: revert;



}


.tituloiden{

    font-size: 70px;
    text-align: center;
    color: darkblue;
}
.img5{

    height: 239px;
    width: 316px;
    background-image: url("Imagen1.png");
    background-repeat: no-repeat;
    float: revert;



}
.img6{

    height: 209px;
    width: 318px;
    background-image: url("Imagen2.jpg");
    background-repeat: no-repeat;
    float: revert;



}
.img7{
    height: 390px;
    width: 477px;
    background-image: url("Imagen3.png");
    background-repeat: no-repeat;
    float: revert;


}
.img8{
    height: 352px;
    width: 447px;
    background-image: url("Imagen4.jpg");
    background-repeat: no-repeat;
    float: revert;



}
.img9{

    height: 419px;
    width: 411px;
    background-image: url("Imagen5.png");
    background-repeat: no-repeat;
    float: revert;


}
.img10{
    height: 371px;
    width: 364px;
    background-image: url("Imagen6.png");
    background-repeat: no-repeat;
    float: revert;

}
.img11{

    height: 297px;
    width: 364px;
    background-image: url("Imagen7.jpg");
    background-repeat: no-repeat;
    float: revert;

}
.img12{
    height: 297px;
    width: 364px;
    background-image: url("Imagen8.jpg");
    background-repeat: no-repeat;
    float: revert;
}
.img13{
    height: 297px;
    width: 364px;
    background-image: url("Imagen9.jpg");
    background-repeat: no-repeat;
    float: revert;

}

.img14{

    height: 297px;
    width: 364px;
    background-image: url("Imagen10.jpg");
    background-repeat: no-repeat;
    float: revert;


}
.img15{

    height: 352px;
    width: 364px;
    background-image: url("Imagen11.jpg");
    background-repeat: no-repeat;
    float: revert;

}
.img16{
    height: 308px;
    width: 364px;
    background-image: url("Imagen12.png");
    background-repeat: no-repeat;
    float: revert;

}
.img17{
    height: 350px;
    width: 364px;
    background-image: url("Imagen13.jpg");
    background-repeat: no-repeat;
    float: revert;
  
}
.img18{
    height: 350px;
    width: 364px;
    background-image: url("Imagen14.jpg");
    background-repeat: no-repeat;
    float: revert;   
}

.img19{
    height: 240px;
    width: 364px;
    background-image: url("Imagen15.jpg");
    background-repeat: no-repeat;
    float: revert;  

}

.img20{
    height: 240px;
    width: 364px;
    background-image: url("Imagen16.png");
    background-repeat: no-repeat;
    float: revert;  




}

.img21{

    height: 189px;
    width: 364px;
    background-image: url("Imagen17.jpg");
    background-repeat: no-repeat;
    float: revert;  



}

.img22{

    height: 189px;
    width: 364px;
    background-image: url("Imagen18.jpg");
    background-repeat: no-repeat;
    float: revert; 


}

.img23{
    height: 296px;
    width: 364px;
    background-image: url("Imagen19.jpg");
    background-repeat: no-repeat;
    float: revert; 

}

.img24{

    height: 129px;
    width: 364px;
    background-image: url("Imagen20.jpg");
    background-repeat: no-repeat;
    float: revert; 


}
.img25{
    height: 296px;
    width: 364px;
    background-image: url("Imagen21.jpg");
    background-repeat: no-repeat;
    float: revert; 


}
.img26{
    height: 296px;
    width: 364px;
    background-image: url("Imagen22.jpg");
    background-repeat: no-repeat;
    float: revert; 



}
.img27{
    height: 296px;
    width: 364px;
    background-image: url("Imagen23.jpg");
    background-repeat: no-repeat;
    float: revert; 

}
.img28{

    height: 466px;
    width: 466px;
    background-image: url("Imagen24.jpg");
    background-repeat: no-repeat;
    float: revert; 


}