/* Temas del segundo período*/

.texto{
   
    font-size:50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
    font-family: cursive;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondos.png");
    

}
.titulo{
font-size: 50px;
text-align: center;
color: cornflowerblue;
}
.titulotec{

    font-size: 100px;
    text-align: center;
    color: rgb(63, 90, 240);

}
.titulotec3{

    font-size: 100px;
    text-align: center;
    color: rgb(255, 0, 0);


}
.tituloingles3{
    font-size: 100px;
    text-align: center;
    color: rgb(0, 195, 255);



}
.titulosociales3{

    font-size: 100px;
    text-align: center;
    color: rgb(207, 37, 184);



}
.titulosoc{

    font-size: 100px;
    text-align: center;
    color: rgb(145, 37, 207);



}
.titbuen{
    font-size: 80px;
    text-align: center;
    color: rgb(51, 207, 37);

}

.titmal{
    font-size: 80px;
    text-align: center;
    color: rgb(253, 0, 0);



}
.titulocont{
    font-size: 80px;
    text-align: center;
    color: rgb(20, 34, 219);


}
.tituloinicio{
    font-size: 163px;
    text-align: center;
    color: rgb(237, 100, 130);
    
}
.tituloingles{
    font-size: 163px;
    text-align: center;
    color: rgb(30, 219, 163);

}

.foto1{
    height: 660px;
    width: 494px;
    background-image: url("foto1.jpg");
    float: initial;
}

.foto2{
    height: 620px;
    width: 670px;
    background-image: url("foto2.jfif");
    
}

.foto3{
    height: 620px;
    width: 800px;
    background-image: url("foto3.jfif");
}
.img1{
    height: 289px;
    width: 571px;
    background-image: url("circuitos-electricos.webp");
    background-repeat: no-repeat;
    float: left;
}

.img2{
    height: 213px;
    width: 221px;
    background-image: url("img2ingles.jfif");
    background-repeat: no-repeat;
    float: revert;



}

.imgai{
    height: 1300px;
    width: 1300px;
    background-image: url("inicio.jfif");
    background-repeat: no-repeat;
    float: revert;

}
.img3{


    height: 200px;
    width: 300px;
    background-image: url("imgeningles.jfif");
    background-repeat: no-repeat;
    float: revert;

}
.mmm3{


    height: 620px;
    width: 620px;
    background-image: url("manuelagustos.jpg");
    background-repeat: no-repeat;
    float: revert;

}
.sss3{


    height: 620px;
    width: 620px;
    background-image: url("saragusto.jpg");
    background-repeat: no-repeat;
    float: revert;

}
.maa3{


    height: 620px;
    width: 620px;
    background-image: url("marianagustos.jpg");
    background-repeat: no-repeat;
    float: revert;

}

.a{height: 200px;
width: 300px;
background-image: url("1.PNG");
background-repeat: no-repeat;
float: revert;}

.b{height: 400px;
width: 500px;
background-image: url("2.PNG");
background-repeat: no-repeat;
float: revert;}

.c{height: 105px;
width: 620px;
background-image: url("3.PNG");
background-repeat: no-repeat;
float: revert;}


.img4{
    height: 200px;
    width: 300px;
    background-image: url("imaingles.jfif");
    background-repeat: no-repeat;
    float: revert;





}
.atraco{
    height: 200px;
    width: 300px;
    background-image: url("atracoing.jpg");
    background-repeat: no-repeat;
    float: revert;





}
.tratojusto{
    height: 200px;
    width: 300px;
    background-image: url("tratojusto.jpg");
    background-repeat: no-repeat;
    float: revert;





}
.escuchar{
    height: 200px;
    width: 300px;
    background-image: url("escuchar.jpg");
    background-repeat: no-repeat;
    float: revert;





}
.hablar{
    height: 200px;
    width: 300px;
    background-image: url("hablar.jpg");
    background-repeat: no-repeat;
    float: revert;





}
.genero{
    height: 550px;
    width: 800px;
    background-image: url("genero.jpg");
    background-repeat: no-repeat;
    float: revert;





}

.romper{
    height: 500px;
    width: 800px;
    background-image: url("romper.jpg");
    background-repeat: no-repeat;
    float: revert;





}
.imgmapa{

    height: 750px;
    width: 1300px;
    background-image: url("imagen2mapa.jpg");
    background-repeat: no-repeat;
    float: revert;



}
.soc33map{

    height: 750px;
    width: 1300px;
    background-image: url("Gráfica\ Mapa\ Conceptual\ Simple\ Colorido\ .png");
    background-repeat: no-repeat;
    float: revert;



}

.tituloiden{

    font-size: 70px;
    text-align: center;
    color: darkblue;
}
.tituloaudiotec{

    font-size: 70px;
    text-align: center;
    color: indigo;

}
.minicurso{

    font-size: 70px;
    text-align: center;
    color: rgb(21, 119, 175);



}
.suma{
    font-size: 70px;
    text-align: center;
    color: rgb(175, 21, 21)

}
.sumai{

    height: 239px;
    width: 316px;
    background-image: url("sumai.jpg");
    background-repeat: no-repeat;
    float: revert; 
}
.resta{

    font-size: 70px;
    text-align: center;
    color: rgb(116, 175, 21)

}

.restai{
    height: 309px;
    width: 696px;
    background-image: url("resta.webp");
    background-repeat: no-repeat;
    float: revert; 

}
.multiplicar{
    font-size: 70px;
    text-align: center;
    color: rgb(175, 21, 98)

}
.multiplicari{
    height: 209px;
    width: 696px;
    background-image: url("multiplicar.jpg");
    background-repeat: no-repeat;
    float: revert;

}
.videotec{
    font-size: 70px;
    text-align: center;
    color: rgb(47, 185, 151);


}
.img5{

    height: 239px;
    width: 316px;
    background-image: url("Imagen1.png");
    background-repeat: no-repeat;
    float: revert;



}
.img6{

    height: 209px;
    width: 318px;
    background-image: url("Imagen2.jpg");
    background-repeat: no-repeat;
    float: revert;



}
.img7{
    height: 390px;
    width: 477px;
    background-image: url("Imagen3.png");
    background-repeat: no-repeat;
    float: revert;


}
.img8{
    height: 352px;
    width: 447px;
    background-image: url("Imagen4.jpg");
    background-repeat: no-repeat;
    float: revert;



}
.img9{

    height: 419px;
    width: 411px;
    background-image: url("Imagen5.png");
    background-repeat: no-repeat;
    float: revert;


}
.img10{
    height: 371px;
    width: 364px;
    background-image: url("Imagen6.png");
    background-repeat: no-repeat;
    float: revert;

}
.img11{

    height: 297px;
    width: 364px;
    background-image: url("Imagen7.jpg");
    background-repeat: no-repeat;
    float: revert;

}
.img12{
    height: 297px;
    width: 364px;
    background-image: url("Imagen8.jpg");
    background-repeat: no-repeat;
    float: revert;
}
.img13{
    height: 297px;
    width: 364px;
    background-image: url("Imagen9.jpg");
    background-repeat: no-repeat;
    float: revert;

}

.img14{

    height: 297px;
    width: 364px;
    background-image: url("Imagen10.jpg");
    background-repeat: no-repeat;
    float: revert;


}
.img15{

    height: 352px;
    width: 364px;
    background-image: url("Imagen11.jpg");
    background-repeat: no-repeat;
    float: revert;

}
.img16{
    height: 308px;
    width: 364px;
    background-image: url("Imagen12.png");
    background-repeat: no-repeat;
    float: revert;

}
.img17{
    height: 350px;
    width: 364px;
    background-image: url("Imagen13.jpg");
    background-repeat: no-repeat;
    float: revert;
  
}
.img18{
    height: 350px;
    width: 364px;
    background-image: url("Imagen14.jpg");
    background-repeat: no-repeat;
    float: revert;   
}

.img19{
    height: 240px;
    width: 364px;
    background-image: url("Imagen15.jpg");
    background-repeat: no-repeat;
    float: revert;  

}

.img20{
    height: 240px;
    width: 364px;
    background-image: url("Imagen16.png");
    background-repeat: no-repeat;
    float: revert;  




}

.img21{

    height: 189px;
    width: 364px;
    background-image: url("Imagen17.jpg");
    background-repeat: no-repeat;
    float: revert;  



}

.img22{

    height: 189px;
    width: 364px;
    background-image: url("Imagen18.jpg");
    background-repeat: no-repeat;
    float: revert; 


}

.img23{
    height: 296px;
    width: 364px;
    background-image: url("Imagen19.jpg");
    background-repeat: no-repeat;
    float: revert; 

}

.img24{

    height: 129px;
    width: 364px;
    background-image: url("Imagen20.jpg");
    background-repeat: no-repeat;
    float: revert; 


}
.img25{
    height: 296px;
    width: 364px;
    background-image: url("Imagen21.jpg");
    background-repeat: no-repeat;
    float: revert; 


}
.img26{
    height: 296px;
    width: 364px;
    background-image: url("Imagen22.jpg");
    background-repeat: no-repeat;
    float: revert; 



}
.img27{
    height: 296px;
    width: 364px;
    background-image: url("Imagen23.jpg");
    background-repeat: no-repeat;
    float: revert; 

}
.img28{

    height: 466px;
    width: 466px;
    background-image: url("Imagen24.jpg");
    background-repeat: no-repeat;
    float: revert; 


}